* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.Menu {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
    background-color: #34495e;
    padding: 10px;
    color: #fff;
}

.Logo img {
    width: 100px;
}

.Listat {
    flex-grow: 1;
    text-align: center;
    margin-top: 10px; 
}

.Listat nav {
    display: flex;
    justify-content: center;
}

.Listat nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

.Listat nav a:hover {
    border-bottom: 2px solid #fff;
}

.social-icons {
    margin-top: 10px; 
}

.social-icons a {
    margin-left: 15px;
}

.social-icons img {
    width: 24px;
}


@media screen and (max-width: 768px) {
    .Menu {
        flex-direction: column; 
        text-align: center;
    }

    .Listat {
        margin-top: 0;
    }

    .social-icons {
        margin-top: 0;
    }
}


footer {
    background: #34495e;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
}

body {
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.php-container {
    margin-top: 100px;
    text-align: center;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.butonat{
    margin: 10px;
    padding: 10px;
    background-color: #162938;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.butonat a:hover{
    text-decoration: none;

}

h2, p, a {
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #162938;
}

a:hover {
    text-decoration: underline;
}

