body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: #f4f4f4;

}

.Menu {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
    background-color: #34495e;
    padding: 10px;
    color: #fff;
}

.Logo img {
    width: 100px;
}

.Listat {
    flex-grow: 1;
    text-align: center;
    margin-top: 10px; 
}

.Listat nav {
    display: flex;
    justify-content: center;
}

.Listat nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

.Listat nav a:hover {
    border-bottom: 2px solid #fff;
}

.social-icons {
    margin-top: 10px; 
}

.social-icons a {
    margin-left: 15px;
}

.social-icons img {
    width: 24px;
}


@media screen and (max-width: 768px) {
    .Menu {
        flex-direction: column; 
        text-align: center;
    }

    .Listat {
        margin-top: 0;
    }

    .social-icons {
        margin-top: 0;
    }
}

       

    .container {
        max-width: 1200px;
        margin: 20px auto;
        padding: 20px;
    }
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
    }
    .product {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 15px;
        text-align: center;
    }
    .product img {
        width: 400px;
        max-height: 400px;
        object-fit: cover;
        border-radius: 5px;
    }
    .product-info {
        margin-top: 10px;
    }
    .product-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .product-price {
        font-size: 16px;
        color: #008000; 
    }
    .no-products {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    }
    